PULSECITY_POSTGRES_HOST=localhost
PULSECITY_POSTGRES_PORT=5432
PULSECITY_POSTGRES_DB=pulsecity
PULSECITY_POSTGRES_USER=postgres
PULSECITY_POSTGRES_PASSWORD=postgres
PULSECITY_REDIS=localhost:6379
PULSECITY_FIREBASE_PROJECT_ID=
PULSECITY_FIREBASE_SERVICE_ACCOUNT_PATH=
PULSECITY_GOOGLE_PLACES_API_KEY=
